.navbar {
    color: white;
    font-size: 14px;


    .container {
        display: flex;
        padding: 0px 50px;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left {
            display: flex;
            align-items: center;

            img {
                height: 25px; 
                margin-right: 40px;
            }   
            span {
                margin-right: 20px;
                cursor: pointer;
            }
        }

         .right {
            display: flex;
            align-items: center;

            .icon {
                margin: 0px 15px;
                cursor: pointer;
            }

            img {
                height: 30px;
                width: 30px;
                border-radius: 10px;
                object-fit: cover;
                cursor: pointer; 
                margin-right: 40px;
            }   

            .profile {

                .options {
                    display: none;
                }

                &:hover {
                    .options {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                }
            }
            }
         }
    }
}